/**
 * @Author: Your name
 * @Date:   2023-09-12 22:16:05
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-09-13 11:18:50
 */
.img cart-wid{
    size: 80px;
    color: orange;
}

.number {
    size: 70px;
    color: orange;  
}